@model ApplicationUser

<div class="form-group">
    <label class="col-form-label" asp-for="UserName"></label>
    <input class="form-control" asp-for="UserName" readonly />
</div>

<div class="form-group">
    <label class="col-form-label">User Role</label>
    <input class="form-control" asp-for="UserRoleName" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input class="form-control" asp-for="PhoneNumber" readonly />
</div>