@model StudentModel

<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span class="text-danger" asp-validation-for="Name"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Age"></label>
    <input class="form-control" asp-for="Age" />
    <span class="text-danger" asp-validation-for="Age"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Image"></label>
    <input class="form-control" asp-for="Image" />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Grade"></label>
    <select class="form-control" asp-for="Grade" asp-items="Html.GetEnumSelectList<GradeEnum>()">
    </select>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input class="form-control" asp-for="Email" />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Address"></label>
    <input class="form-control" asp-for="Address" />
</div>
