@model InstructorModel
@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create New Instructor</h1>

<form asp-action="Create" enctype="multipart/form-data">
    
    <partial name="PartialViews/ReadWriteForms" model="@Model"/>

    <input type="submit" value="submit" class="btn btn-primary m-3" />
    <a asp-action="Index" class="btn btn-info m-3">Cancel</a>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


